// .tools {
//     background: #383838;
//     border: 1px;
//     border-radius: 10px;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     width: 80px;
//     padding: 16px 0;
//     gap: 18px;

//     &-color, &-selection, &-size {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         width: 100%;
//         gap: 8px;
//     }
// }